
<div>
  <div>
    <label>Select list:</label>

    <select class="form-control" id="algorithm-selection" ng-model (change)="getSelectedAlgorithm($event)">
      <option *ngFor="let option of data.availableOptions" value="{{option.id}}"> {{option.name}}</option>
    </select>

    <div class="array-creation-section">
      <div class="left-section">
        <div class="form-group">
          <label for="inputArray">Array</label>
          <input id="inputArray" type="text" class="form-control" placeholder="Add array numbers using comma separated">
        </div>
      </div>
      <div class="right-section">
        <button (click)="createArray()" class="btn btn-primary">Create Array</button>
        <div *ngIf="nodes.length > 0">
          <button (click)="callBubbleSort(nodes)" class="btn btn-primary" id="sort-button">Sort</button>
        </div>
      </div>
    </div>


    <label [style.visibility]="isPivotVisible ? 'visible' : 'hidden'" class="label-name pivot-element">Pivot:</label>
    <div [style.visibility]="isPivotVisible ? 'visible' : 'hidden'" id="pivot" class="node {{pivot.selected}} pivot-element">{{pivot.value}}</div>
  </div>
</div>
<br>

<div class="sorting-array-form">
  <div *ngFor="let node of nodes" class="node {{node.selected}}" id="{{node.id}}">
    <div class="content">{{node.value}}</div>
    <p class="{{node.arrow}}">
      <i class="arrow up"></i>
    </p>
  </div>
</div>

<br>
