.node {
    display: inline-block;
    border: solid skyblue 1px;
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  .node.selected {
    border: solid rgb(91, 196, 223) 3px;
    background-color: rgb(222, 229, 231);
  }

  .node.selected-for-comparison{
        border: solid rgb(87, 79, 34) 3px;
    background-color: rgb(223, 60, 100);
  }

  .node.final-position {
    border: solid rgb(217, 255, 0) 3px;
    background-color: rgb(224, 255, 243);
  }

  .node .content{
    text-align: center;
    vertical-align: middle;
    line-height: 70px; 
  }
